**/.DS_Store
**/debug.test
**/.cache
.cache
**/node_modules
__debug_bin
**/*.pyc

.DS_Store
**/dist
./runner
.tmp
.editorconfig
server/services/watcher-sync/main_app
.idea
c.out
cov.out
cc-test-reporter
coverage.html

.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
**/ent

.env